body {
  margin: 0;
  background: #1d1d1d;
  color: #fff;
}

#background-overlay {
  position: absolute;
  z-index: 6;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(29, 29, 29, 0.65) 0,
    rgba(29, 29, 29, 1) 100%
  );
}

.movie-img {
  border: 4px solid #fff;
  transition: border-color 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  object-fit: cover;
}

.movie-img:hover {
  border-color: #28a745;
}

.card-title,
.card-text {
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.card-title:hover {
  color: #28a745 !important;
}

.card-text {
  color: #919191;
}

/* Movie Detail */
.movie-detail-bg {
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  opacity: 0.9;
}

.movie-detail {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-detail-img {
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  max-width: 720px;
}

/* Search bar */
.custom-search-input {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 55px;
  background: #343a40;
  margin: 1rem auto;
  border-radius: 40px;
  color: #ffffff;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #ffffff;
}

.search-input {
  position: absolute;
  left: 60px;
  margin: 8px 0;
  padding: 0;
  border: 0;
  width: calc(100% - 60px);
  background: transparent;
  height: 40px;
  color: #ffffff;
}

.search-input:focus {
  outline: none; /* Removes the outline on focus */
  box-shadow: none; /* Removes the box shadow on focus */
}
